body {
}

.layout-login {
    color: red;
    position: absolute;
    right 0px;
}

#back-button {
    margin-top: 30px;
    width: 120px;
}

#main-content {
    position: absolute;
    top: 30%;
    bottom: 30%;
    left: 30%;
    right: 30%;
}

#parent {
    display: table;
    width: 100%;
}

#form_login {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#login-form-wrapper {
    position: absolute;
    top: 30%;
    bottom: 30%;
    left: 30%;
    right: 30%;
}
#main-align {
    position: absolute;
    top: 10%;
    bottom: 30%;
    left: 30%;
    right: 30%;
}

.task-list-button {
    width: 150px;
}
