body {
}
.layout-login { color: red ;position:absolute; right 0px; }
#parent {
    display: table;
    width: 100%;
}

#form_login {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
#login-form-wrapper {
    position: absolute;
    top: 30%;
    bottom:30%;
    left:30%;
    right:30%;
    
}
#task-details {
    position: absolute;
    top: 10%;
    bottom: 30%;
    left: 30%;
    right: 30%;
}

.task-list-button {
    width:130px;
}