<div style="margin-top:15px;margin-bottom:40px;">

    <ul class="nav navbar-default btn-group">
        <li class="nav-item active"> <a asp-area="" asp-controller="Statistics" asp-action="LoggedHoursTemporalStatistics" class="nav-link"><button type="button" class="btn btn-secondary">Logged hours</button></a></li>
        <li class="nav-item active"> <a asp-area="" asp-controller="Statistics" asp-action="StartedTasksTemporalStatistics" class="nav-link"><button type="button" class="btn btn-secondary">Started tasks</button></a></li>
        <li class="nav-item active"> <a asp-area="" asp-controller="Statistics" asp-action="CompletedTasksTemporalStatistics" class="nav-link"><button type="button" class="btn btn-secondary">Completed tasks</button></a></li>
        <li class="nav-item active"> <a asp-area="" asp-controller="Statistics" asp-action="StartedTopicsTemporalStatistics" class="nav-link"><button type="button" class="btn btn-secondary">Started topics</button></a></li>
        <li class="nav-item active"> <a asp-area="" asp-controller="Statistics" asp-action="NumberOfRepliesTemporalStatistics" class="nav-link"><button type="button" class="btn btn-secondary">Number of replies</button></a></li>

    </ul>

</div>