<div style="margin-top:75px;margin-bottom:40px;">

    <ul class="nav navbar-default btn-group">
        <li class="nav-item active"> <a asp-area="" asp-controller="Statistics" asp-action="LoggedHoursByGrade" class="nav-link"><button type="button" class="btn btn-secondary">My overall statistics</button></a></li>
        <li class="nav-item active"> <a asp-area="" asp-controller="Statistics" asp-action="LoggedHoursByGrade" class="nav-link"><button type="button" class="btn btn-secondary">Statistics by grade</button></a></li>
        <li class="nav-item active"> <a asp-area="" asp-controller="Statistics" asp-action="LoggedHoursTemporalStatistics" class="nav-link"><button type="button" class="btn btn-secondary">My temporal statistics</button></a></li>
    </ul>

</div>