@model WebApi.Models.Statistics.StartedTasksByGrade

@{
    ViewData["Title"] = "StartedTasks";
    var grades = Model.StartedTasks.Keys.ToArray();
    var nrOfStartedTasks = Model.StartedTasks.Values.ToArray();
}

@{
    await Html.RenderPartialAsync("_statisticsNavBar");
}

<h2 style="margin-top:35px; margin-bottom:35px;">Started Tasks</h2>

<div style="width:1100px;height:550px;">
    <canvas id="myChart"></canvas>
</div>
<script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: @Html.Raw(Json.Serialize(grades)),
            datasets: [{
                label: '# of Started Tasks',
                data: @Html.Raw(Json.Serialize(nrOfStartedTasks)),
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>