@{
    Layout = "_Layout"; 
}
<!DOCTYPE html>
<html>
<head>
    <!-- Bootstrap Core CSS -->
    <link href="~/lib/bootstrap4/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/layoutfiles/dist/css/sb-admin-2.css" rel="stylesheet">


</head>
<body>
    <div class="container h-100 ">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-sm-10 offset-sm-1 text-center">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" asp-action="Login" asp-controller="Authentication" method="post" class="col-12">
                            <fieldset>
                                <div class="form-group">
                                    <!--modified 29.01-->
                                    <input class="form-control" placeholder="Username" name="username" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <input type="submit" value="Login" class="btn btn-primary" />
                                <hr/>
                                <a asp-action="Register">Don't have an account yet? Sign up!</a>

                            </fieldset>

                            <div asp-validation-summary="All"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>