<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApi</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/MainStyleSheet.css" asp-append-version="true" />


</head>
<body>
    <nav class="navbar navbar-static-top navbar-light bg-info justify-content-between fixed-top">
        @*<a class="navbar-brand" href="#">Brand</a>*@
        <ul class="nav navbar-default btn-group">
            <li class="nav-item active"> <a asp-area="" asp-controller="Task" asp-action="Index" class="navbar-brand"><button type="button" class="btn">Main Page</button></a></li>
            <li class="nav-item active"><a asp-area="" asp-controller="Task" asp-action="Index" class="nav-link"><button type="button" class="btn btn-info">Tasks</button> <span class="sr-only">(current)</span></a></li>
            <li class="nav-item active mr-auto"><a asp-area="" asp-controller="Topic" asp-action="Index" class="nav-link"><button type="button" class="btn btn-info">Topics</button> <span class="sr-only">(current)</span></a></li>
        </ul>
        <ul class="nav navbar-header">

            @if (User.Identity.IsAuthenticated)
            {

                <li class="nav-item active flex-row-reverse"><div class="nav-item" style="padding-top:14px;">Hello, @User.Identity.Name!<span class="sr-only">(current)</span></div></li>
                <li class="nav-item active"><a asp-area="" asp-controller="Authentication" asp-action="Logout" class="nav-link"><button type="button" class="btn btn-warning">Logout</button> <span class="sr-only">(current)</span></a></li>

            }

        </ul>
    </nav>
    <div class="container body-content h-100 w-100">
        @RenderBody()
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    @RenderSection("Scripts", required: false)
    <style media="screen" type="text/css">
        .layout-login {
            color: red;
            position: absolute;
            right: 0px;
        }
    </style>
</body>

</html>
