@model Services.Commands.Topic.AddNewReplyCommand

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
@{
    var aggregateId = (Guid) ViewBag.AggregateId;

}

<h2>New reply</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddNewReply">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group">
                <input type="hidden" asp-for="AggregateId" value=@aggregateId />

                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control"/>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Reply" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Details" asp-route-id=@aggregateId>Back to Topic</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}