@model Services.Commands.Topic.UpdateReplyCommand
@{
    ViewData["Title"] = "Update reply";
}
@{
    var aggregateId = (Guid)ViewBag.AggregateId;
    var replyId = (Guid)ViewBag.ReplyId;

}
<div style="margin-top:30px;">
    <a asp-action="Details" asp-route-id=@aggregateId>
        <button type="button" class="btn btn-secondary float-right">Back to Topic</button>
    </a>
</div>
<div style="padding-top:1px;">

    <h2 style="margin-top:5%;">Update Reply</h2>
</div>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateReply">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AggregateId" value=@aggregateId />
            <input type="hidden" asp-for="ReplyId" value=@replyId />
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
